{% extends "main.html" %}

{% block content %}
{% load static %}

<div>
    <img width="100%" src="{% static 'img/10.jpeg' %}">
</div>
<a href="{% url 'travel:local_list' %}" style="margin:0 auto; ">
    <h1 class="text-center" style="margin:0 auto;width:1000px;"><img style="margin-top:-120px;"width="400px" height="300px" src="{% static 'img/btn/123.png' %}"></h1>
</a>
<div style="height:90px"></div>
<div style="margin-top:-150px;">
    <div class="container">
        <div class="container">
        <div style="position: relative;margin: 0px 150px;">
            <img id="img" width="100%" src="{% static 'img/main/base.png' %}">
            <a class="link" href=""><div id="seoul" style="position: absolute; top:230px; left:280px; width:40px; height:40px;"></div></a>
            <a class="link" href=""><div id="jeonju" style="position: absolute; top:492px; left:280px; width:40px; height:40px;"></div></a>
            <a class="link" href=""><div id="busan" style="position: absolute; top:615px; left:500px; width:40px; height:40px;"></div></a>
            <a class="link" href=""><div id="jeju" style="position: absolute; top:820px; left:260px; width:40px; height:40px;"></div></a>
            <a class="link" href=""><div id="gyeongju" style="position: absolute; top:510px; left:555px; width:40px; height:40px;"></div></a>
        </div>
        </div>
    </div>
</div>
<script>
    $("#seoul").hover(function() {
        $("#img").attr('src', "{% static 'img/main/Seoul.png' %}");
        $(".link").attr('href', "/local/Seoul");
    });
    $("#busan").hover(function() {
        $("#img").attr('src', "{% static 'img/main/Busan.png' %}");
        $(".link").attr('href', "/local/Busan");
    });
    $("#jeonju").hover(function() {
        $("#img").attr('src', "{% static 'img/main/Jeonju.png' %}");
        $(".link").attr('href', "/local/Jeonju");
    });
    $("#jeju").hover(function() {
        $("#img").attr('src', "{% static 'img/main/Jeju.png' %}");
        $(".link").attr('href', "/local/Jeju");
    });
    $("#gyeongju").hover(function() {
        $("#img").attr('src', "{% static 'img/main/Gyeongju.png' %}");
        $(".link").attr('href', "/local/Gyeongju");
    });
</script>



{% endblock %}