{% extends "base.html" %}

{% block content %}
<head>
    {% load static %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="{% static 'js/jquery.bxslider-rahisified.js' %}"></script>
    <link href="{% static 'css/jquery.bxslider.css' %}" rel="stylesheet" />
    <style>
         *{margin: 0;padding: 0;}
         li{list-style: none;}
         #gallery_wrap{ margin: 0 auto; width: 450px;}
         #gallery_wrap .bx-wrapper{margin-bottom: 20px;}
         .slider-pager{text-align: center;}
         .slider-pager li{display: inline;}
    </style>


    <meat charset="UTF-8"/>
    <link rel="stylesheet" href="{% static 'css/fullcalendar.css' %}" type="text/css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.0.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static 'js/fullcalendar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/gcal.js' %}"></script>

    <script type="text/javascript">
    $(function(){

        // 현재 일시를 취득하기
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        // 객체 생성
        $('#calendar').fullCalendar({
            // 헤더의 지정
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month, basicWeek, basicDay'
            },

            //월일의 포맷
            columnFormat: {
                month: 'ddd',
                week: 'M/d(ddd)',
                day: 'M/d(ddd)'
            },
            //요일의 포맷
            dayNames: ['SUN','MON','TUE','WEN','THU','FRI','SAT'],
            dayNamesShort: ['SUN', 'MON', 'TUE','WEN','THU','FRI','SAT'],
            // tlrksdml 포맷
            timeFormat: {
                '': 'H:mm{ - H:mm}'
            },
            // 버튼의 표시명
            buttonText: {
                today: 'today',
                month: 'month',
                week: 'week',
                day: 'day'
            },
            // Event Sources 객체에서의 지정
            eventSources: [
                {
                    color:'darkred',
                    textColor:'white'
                }
            ],
            eventColor: 'blue',
            // Event 객체에서의 지정
            events: [
                {% for i in local_detail %}
                {
                    title: '{{ i.title }}',
                    start: new Date({{ FY }},{{ FM }}-1,{{ FD }},{{ SH }},{{ SM }}),
                    end: new Date({{ TY }},{{ TM }}-1, {{ TD }},{{ H }},{{ M }}),
                    allDay: true,
                    textColor: 'black',
                    color: 'rgb(149,205,232)',
                },
                {% endfor %}


                {% for m in b %}
                {
                    title: 'Not',
                    start: new Date({{ m }}),
                    allDay: true,
                    textColor: 'black',
                    color:'red',
                },
                {% endfor %}
            ],
            editable: false,
        });
    });
    </script>
    <style type='text/css'>
        body {
            font-size: 13px;
        }
        #calendar {
            width: 390px;
        }
        .fc-sat{
            color: black;
        }
        .fc-sun {
            color: black;
        }
        .fc-event-title {
            text-align: center;
            font-weight: bold;
            padding-right:4px;
            display:table;
            margin-left:auto;
            margin-right:auto;
        }
        .fc-event-time {
            font-weight: normal;
        }
        .fc-event-time,
        .fc-event-title {
            padding: 0px 2px;
        }
        .fc-day-number{
            color: rgb(49,86,137);
        }
        h2{
            font-size:15px;
        }
        .fc-button-content{
            padding: 0 3px;
        }
    </style>



    <script>
    $(document).ready( function() {

        $('#myslider').bxSlider({
          slideMargin: 5,
          autoReload: true,
          breaks: [{screen:0, slides:1, pager:false},{screen:460, slides:2},{screen:768, slides:3}]
        });

    });
    </script>
</head>
<body>



{% for i in local_detail %}
<div class="container">
    <div class="well clearfix" style="margin:50px 0px;">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-9">
                    <h3>{{ i.title }}</h3>
                </div>
                <div class="col-md-3" style="float:right">
                    <h3>{{ i.Tourtype.img }}{{ i.Tourtype }}</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <ul class="bxslider" data-call="bxslider" data-options="slideMargin:5, autoReload:true" data-breaks="[{screen:0, slides:1, pager:false}, {screen:460, slides:2}, {screen: 768, slides:3}]">
                      <li><img src="{{ i.img.url }}" width="100%"/></li>
                    </ul>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <!--<div style="border: 12px solid rgb(49,86,137); padding: 10px;">-->
                            <div style="border:2px solid rgb(49,86,137); margin-bottom:15px; padding:7px;">
                                1. Overview
                                <br>
                                {{ i.DetailContent }}
                            </div>
                            <div style="border:2px solid rgb(49,86,137); margin-bottom:15px; padding:7px;">
                                2. Language : {{ i.Language }}
                            </div>
                            <div style="border:2px solid rgb(49,86,137); margin-bottom:15px; padding:7px;">
                                3. Meeting time : {{ i.MeetingTime }}
                            </div>
                            <div style="border:2px solid rgb(49,86,137); margin-bottom:15px; padding:7px;">
                                4. Duration : {{ H1 }}hr {{ M1 }}min
                            </div>
                            <div style="border:2px solid rgb(49,86,137); margin-bottom:15px; padding:7px;">
                                5. The number of people : {{ i.Minimum }} - {{ i.Maximum }}
                            </div>
                            <div style="border:2px solid rgb(49,86,137); margin-bottom:15px; padding:7px;">
                                6. Includes : <br>
                                {{ i.Price_include }}
                            </div>
                            <div style="border:2px solid rgb(49,86,137); margin-bottom:15px; padding:7px;">
                                7. Meeting Point: {{ i.MeetingPoint}}
                            </div>
                            <div style="border:2px solid rgb(49,86,137); margin-bottom:15px; padding:7px;">
                                8. Direction : {{ i.Direction }}
                            </div>
                            <div style="border:2px solid rgb(49,86,137); margin-bottom:15px; padding:7px;">
                                9.Thing to Note : {{ i.GuestInfo }}
                            </div>

                    <!--</div>-->
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="col-md-12" style="border: 2px solid rgb(49,86,137)">
                    <div style="width: 380px; border: 1px solid black; margin: 25px 0; padding:20px;">
                        <h3>
                        {% for profile in profiles %}
                        {% if profile.img %}
                            <img style="margin-right:20px; width:100px; height:100px;"src="{{ profile.img.url }}">
                        {% endif %}
                        {{ profile.name }}
                        </h3>
                        <br>
                        <p style="font-size: 20px;">Laguage : {{ profile.language }}</p><br>
                        <p style="font-size: 20px;">Major: {{ profile.major }}</p><br>
                        <p style="font-size: 20px; margin-bottom:15px;">Visited Country : {{ profile.visitedCountry }}</p><br>
                        <p style="font-size: 20px; margin-bottom:15px;">Next travel : {{ profile.nextCountry }}</p><br>
                        <p style="font-size: 20px; margin-bottom:15px;">Interest : {{ profile.interest }}</p><br>
                        {% endfor %}
                    </div>
                    <div style="margin-top:15px;">
                        <div style="background-color:white; margin:0 auto;" id="calendar"></div>
                    </div>
                <a style="margin:30px 100px;" href="{% url 'travel:booking' i.City i.pk %}" class="btn btn-primary"><h1>Book Now</h1></a>
            </div>
        </div>
    </div>
</div>
</body>

{% endfor %}
{% endblock %}