{% extends "base.html" %}

{% block content %}

<body>
    {% load static %}
    <div >
        <img style="height:200px; width:100%;" src="{% static 'img/dma.jpeg' %}">
    </div>

        <div class="container">
            <div class="row" style="margin:40px 0px;">
            <div class="col-md-4" style="height:3000px;">
                <iframe style="width:350px; height: 200px; margin-left:-10px;" src="https://www.youtube.com/embed/WGvh3Eag_vc?amp;autoplay=1&rel=0" frameborder="0" muted="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
                {% for i in local_list %}
            <div class="col-md-8">
            <div class="well clearfix" style="background-color:rgb(243,243,243); margin:9px auto; padding:10px;">
                <article class="box">
                    <a href="{% url 'travel:local_detail_form' i.City i.pk %}">
                        <div class="row">
                            <div class="col-md-4">
                            <figure>
                                <img src="{{ i.img.url }}" style="height:150px; width:100%">
                                <div style="text-align:center; background:#fff;padding:3px 10px">{{ i.Tourtype }}</div>
                            </figure>
                            </div>
                            <div class="col-md-8">
                                <div class="clearfix row">
                                    <h4 class="box-title col-md-9" style="height:40px;">
                                          {{ i.title }}<br>
                                        <small>Provided by Generation {{ i.user__name }}</small>
                                        <br>
                                        <br>

                                    </h4>
                                    <div class="col-sm-3">
                                        <small>from </small>{{ i.Price }}<small>₩</small><br>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="height:95px;" class="col-md-12">
                                        <h4>
                                            <small>{{ i.BriefContent }}</small>
                                        </h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="clearfix row">
                                            <div class="col-sm-4">{{ i.HashTag }}</div>
                                            <div class="col-sm-4">Duration : {{ i.Duration }}</div>
                                            <div class="col-sm-4">Language : {{ i.Language }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </article>
            </div>
            </div>
                    {% endfor %}
            </div>
        </div>
    </div>

</body>
</html>

{% endblock %}
