{% extends 'base.html' %}
{% block content %}
<div class="container" style="margin-top:40px;">
    <h1 class="text-center">Booking</h1>
    <p class="text-center">we need brief information to confirm your reservation. We help locals who are preparing to show you a<br>
    travel local trip make more efficient arrangements and guidance. 'SNS ID' is not a mandatory entry. We use<br>
    that in order to contact you immediately if there is any change in the circumstances of the your that is unavoidable</p>
    <br>
    <br>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="center-block clearfix" style="border:1px solid black;width:70%;margin-top:-30px;">
        <div class="col-md-6">
            <div style="border:1px solid black; padding:20px; margin:8px 0px; ">
                First Name  {{ form.LastName }}
            </div>
            <div style="border:1px solid black; padding: 20px; margin:8px 0px;">
                Age  {{ form.Age }}
            </div>
            <div style="border:1px solid black; padding: 20px; margin:8px 0px;">
                Gender  {{ form.Gender }}
            </div>
            <div style="border: 1px solid black; padding: 20px; margin:8px 0px;">
                E-mail  {{ form.Email }}
            </div>
            <div style="border: 1px solid black; padding: 20px; margin:8px 0px;">
                Date  <br>{{ form.Date }}
            </div>
            <div style="border: 1px solid black; padding: 20px; margin:8px 0px;">
                Mainly used SNS  {{ form.SNS }}
            </div>
        </div>
        <div class="col-md-6">
            <div style="border: 1px solid black; padding: 20px; margin:8px 0px;">
                Last Name  {{ form.FirstName }}
            </div>
            <div style="border: 1px solid black; padding: 20px; margin:8px 0px;">
                Nationality  {{ form.Nationality }}
            </div>
            <div style="border: 1px solid black; padding: 20px; margin:8px 0px;">
                Language  {{ form.Language }}
            </div>
            <div style="border: 1px solid black; padding: 20px; margin:8px 0px;">
                Confirmed E-mail  {{ form.ConfirmedEmail }}
            </div>
            <div style="border: 1px solid black; padding: 20px; margin:8px 0px;">
                Cell number  {{ form.phone }}
            </div>
            <div style="border: 1px solid black; padding: 20px; margin:8px 0px;">
                SNS ID  {{ form.SNSID }}
            </div>
        </div>
        <div class="row" style="padding:0px 30px">
            <div class="col-sm-12" style="border: 1px solid black; padding: 20px; margin-bottom:8px; width:100%">
                <p style="margin-bottom:3px;">Thing to demand </p>
                {{ form.Demand }}
            </div>
        </div>
        </div>
        <div class="center-block" style="width:130px">
            <input href="{% url 'Booking:complete' %}" type="submit" class="btn btn-primary" style="margin:15px;width:100px;" value="BOOK NOW"/>
        </div>
    </form>
</div>
{% endblock %}
