{% extends "base.html" %}

{% block content %}

<div class="container" style="padding-top:30px;">
    <h2 class="text-center">MY PAGE</h2>
    <h3 class="text-center">프로필 관리, 투어 프로그램 관리, 예약 일정관리 페이지</h3>

    <div class="row">
        <div class="col-md-5 col-md-offset-1 " style="border:1px solid black; margin-right:10px;">
            <div style="border:1px solid black; margin:15px 0; padding:10px; border-radius:5px;" >Language : {{ user.profile.language|default:'empty' }}</div>
            <div style="border:1px solid black; margin:15px 0; padding:10px; border-radius:5px;">Major : {{ user.profile.major }}</div>
            <div style="border:1px solid black; margin:15px 0; padding:10px; border-radius:5px;">Visited Country : {{ user.profile.visitedCountry }}</div>
            <div style="border:1px solid black; margin:15px 0; padding:10px; border-radius:5px;">Next Travel : {{ user.profile.nextCountry }}</div>
            <div style="border:1px solid black; margin:15px 0; padding:10px; border-radius:5px;">Interest : {{ user.profile.interest }}</div>
            <a href="{% url 'accounts:profileEdit' %}" class="btn btn-primary">Change Profile</a>
        </div>
        <div class="col-md-5" style="border: 1px solid black; margin-left:10px;min-height:300px;">
            {% for i in list %}
            <div class="well clearfix" style="background-color:rgb(243,243,243); margin:15px auto; padding:10px;">
                <article class="box">
                    <a href="{% url 'travel:local_detail_form' i.City i.pk %}">
                        <figure class="col-md-6">
                            <img src="{{ i.img.url }}" style="max-height:140px; width:100%">
                            <div style="text-align:center; background:#fff;padding:3px 10px">{{ i.Tourtype }}</div>
                        </figure>
                        <div class="col-md-6">
                            <h4>{{ i.title }}</h4>
                            <br>
                            {{ i.Price}}
                            <br>
                            {{ i.Duration}}
                            <br>
                            {{ i.Language }}
                            <br>
                            {{ i.HashTag }}
                        </div>
                    </a>
                </article>
            </div>
            {% endfor %}
            {% for i in bk %}
            <div style="border:1px solid black">
                {{ i.content }}
                {{ i.FirstName }}
                {{ i.LastName }}
                {{ i.Age }}
                {{ i.gender }}
                {{ i.Email }}
                {{ i.Date }}
                {{ i.SNS }}
                {{ i.SNSID }}
                {{ i.Nationality }}
                {{ i.phone }}
                {{ i.ConfirmedEmail }}
                {{ i.Language }}
                {{ i.Demand }}
            </div>
            {% endfor %}
        </div>
    </div>
    <img src="{{ user.socialaccount_set.all.first.get_avatar_url }}" />

    <a href="{% url 'accounts:logout' %}?next={{ request.path }}" onclick="return confirm('Are you sure?');"><h2>로그아웃하기</h2></a>
    <a href="{% url 'accounts:profile' %}"><h2>가이드로 등록하기</h2> </a>

    </div>
</div>




{% endblock %}
