{% extends "base.html" %}

{% block content %}
{% load static %}
<head>
    <meat charset="UTF-8"/>
    <link rel="stylesheet" href="{% static 'css/fullcalendar.css' %}" type="text/css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.0.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static 'js/fullcalendar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/gcal.js' %}"></script>
    
    <script type="text/javascript">
    $(function(){

        // 현재 일시를 취득하기
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        // 객체 생성
        $('#calendar').fullCalendar({
            // 헤더의 지정
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month, basicWeek, basicDay'
            },

            //월일의 포맷
            columnFormat: {
                month: 'ddd',
                week: 'M/d(ddd)',
                day: 'M/d(ddd)'
            },
            //요일의 포맷
            dayNames: ['SUN','MON','TUE','WEN','THU','FRI','SAT'],
            dayNamesShort: ['SUN', 'MON', 'TUE','WEN','THU','FRI','SAT'],
            // 시간의 포맷
            timeFormat: {
                '': 'H:mm{ - H:mm}'
            },
            // 버튼의 표시명
            buttonText: {
                today: 'today',
                month: 'month',
                week: 'week',
                day: 'day'
            },
            // Event Sources 객체에서의 지정
            eventSources: [
                {
                    color:'darkred',
                    textColor:'white'
                }
            ],
            eventColor: 'blue',
            // Event 객체에서의 지정
            events: [

                {
                    title: 'i.title',
                    start: new Date(2018,7,20),
                    end: new Date(2018,7,21),
                    allDay: true,
                    textColor: 'black',
                    color: 'rgb(149,205,232)',
                },


                {
                    title: 'Not',
                    start: new Date(2018,7,20),
                    allDay: true,
                    textColor: 'black',
                    color:'red',
                },
            ],
            editable: false,
        });
    });
    </script>
    <style type='text/css'>
        body {
            font-size: 13px;
        }
        #calendar {
            width: 533px;
        }
        .fc-sat{
            color: black;
        }
        .fc-sun {
            color: black;
        }
        .fc-event-title {
            text-align: center;
            font-weight: bold;
            padding-right:4px;
            display:table;
            margin-left:auto;
            margin-right:auto;
        }
        .fc-event-time {
            font-weight: normal;
        }
        .fc-event-time,
        .fc-event-title {
            padding: 0px 2px;
        }
        .fc-day-number{
            color: rgb(49,86,137);
        }
        h2{
            font-size:15px;
        }
        .fc-button-content{
            padding: 0 3px;
        }
    </style>
</head>
<body>
<div class="container" style="padding-top:30px;">
    <h1 class="text-center">MY PAGE</h1>
    <h3 class="text-center">프로필 관리, 투어 프로그램 관리, 예약 일정관리 페이지</h3>

    <div class="row">
        <div class="col-md-4 col-md-offset-1 col-sm-11" style="border:1px solid black; margin-right:10px;">
            {% if user.profile.img %}
            <div class="center-block" style="width:150px;">
                <img style="width:150px; max-height:150px;margin-top:10px;" src="{{ user.profile.img.url }}">
            </div>
            {% else %}
            {% load static %}
            <img style="width:150px; height:150px; margin-top:10px;" src="{% static 'img/profile.jpg' %}">
            {% endif %}
            <div style="border:1px solid black; margin:15px 0; padding:10px; border-radius:5px;" >Name : {{ user.profile.name|default:'Empty' }}</div>
            <div style="border:1px solid black; margin:15px 0; padding:10px; border-radius:5px;" >Language : {{ user.profile.language|default:'Empty' }}</div>
            <div style="border:1px solid black; margin:15px 0; padding:10px; border-radius:5px;">Major : {{ user.profile.major|default:'Empty' }}</div>
            <div style="border:1px solid black; margin:15px 0; padding:10px; border-radius:5px;">Visited Country : {% for j in k %} <img style="height:17px;width:24px" src="{{ j.image.url }}"> {% endfor %}</div>
            <div style="border:1px solid black; margin:15px 0; padding:10px; border-radius:5px;">Next Travel : {% for k in z %} <img style="width:24px; height:17px" src="{{ k.image.url|default:'Empty' }}"> {% endfor %}</div>
            <div style="border:1px solid black; margin:15px 0; padding:10px; border-radius:5px;">Interest : {{ user.profile.interest|default:'Empty' }}</div>
            <a href="{% url 'accounts:profileEdit' %}" style="margin: 10px 120px;"class="btn btn-primary">Change Profile</a>
        </div>
        <div class="col-md-6 col-sm-11 tab-content" style="border: 1px solid black; margin-left:10px; min-height:300px; padding-top:15px;">
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="tab" href="#home">Your Product</a></li>
                <li><a data-toggle="tab" href="#menu1">Your Booking</a></li>
                <li><a data-toggle="tab" href="#menu2">Your Schedule</a></li>
            </ul>

            <div class="tab-content">
                <div style="padding-top:10px;" id="home" class="tab-pane fade in active">
                    {% for i in list %}
                    <div class="row">
                        <div class="col-md-10">
                            <div class="well clearfix" style="background-color:rgb(243,243,243); padding:10px;">
                                <article class="box">
                                    <a href="{% url 'travel:local_detail_form' i.City i.pk %}">
                                        <figure class="col-md-5" style="padding:0px">
                                            {% if i.img %}
                                            <img src="{{ i.img.url }}" style="height:120px; width:100%">
                                            {% endif %}
                                            <div style="text-align:center; background:#fff;padding:3px 10px">{{ i.Tourtype }}</div>
                                        </figure>
                                        <div class="col-md-7">
                                            <h4>{{ i.title }}</h4>
                                            <br>
                                            {{ i.Price}}
                                            <br>
                                            {{ i.Duration}}
                                            <br>
                                            {{ i.Language }}
                                            <br>
                                            {{ i.HashTag }}
                                        </div>
                                    </a>
                                </article>
                            </div>
                        </div>
                        <div class="col-md-1" style="padding-top:11%">
                            <a href="{% url 'travel:post_edit' i.City i.pk %}" class="btn btn-primary">Modify</a>
                        </div>
                    </div>
                    {% endfor %}
                    <a href="{% url 'accounts:new_profile' %}" class="btn btn-primary" style="width:300px;height:50px;margin:10px 150px;"><span style="font-size:30px;">upload new tour</span></a>
                </div>
                <div style="padding-top:10px;" id="menu1" class="tab-pane fade">
                    {% for i in bk %}
                    <div class="row" style="margin-bottom:10px; border:1px solid black; margin:10px 0px; border-radius: 3px; padding:4px; max-height:42px;">
                        <div class="col-md-9">
                            <div style=" border-radius: 4px;" >
                                {{ i.content }}
                                {{ i.FirstName }}
                                {{ i.LastName }}
                                {{ i.Age }}
                                <div class="collapse" id="demo">
                                    adjfkaljfk<br>
                                    adkfja;kfj<br>
                                    sdfkadjl;k<br>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3" style="margin:0px;padding:0px;">
                            <button class="btn btn-primary" id="ww" data-toggle="collapse" data-target="#demo">Detail</button>
                            <div class="btn btn-primary">Reject</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div style="padding:10px;" id="menu2" class="tab-pane fade">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
    <img src="{{ user.socialaccount_set.all.first.get_avatar_url }}" />

    <a href="{% url 'accounts:logout' %}?next={{ request.path }}" onclick="return confirm('Are you sure?');"><h2>로그아웃하기</h2></a>
    <a href="{% url 'accounts:profile' %}"><h2>가이드로 등록하기</h2> </a>

    </div>
</div>

</body>




{% endblock %}
