{% extends "base.html" %}

{% block content %}
<head>
    {% load static %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- 이미지 슬라이드 -->
    <link rel="stylesheet"  href="{% static 'css/lightslider.css' %}"/>
    <script src="{% static 'js/lightslider.min.js' %}"></script>

    <!-- 캘린더 -->
    <link rel="stylesheet" href="{% static 'css/fullcalendar.css' %}" type="text/css">
    <script type="text/javascript" src="{% static 'js/fullcalendar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/gcal.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.youtubepopup.min.js' %}"></script>

    <!-- youtube -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/YouTubePopUp.css' %}">
    <script type="text/javascript" src="{% static 'js/YouTubePopUp.jquery.js' %}"></script>
    <script type="text/javascript">
      jQuery(function(){
          jQuery("a.bla-1").YouTubePopUp();
          jQuery("a.bla-2").YouTubePopUp( { autoplay: 0 } ); // Disable autoplay
      });
    </script>



    <script type="text/javascript">
    $(function(){

        // 현재 일시를 취득하기
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        // 객체 생성
        $('#calendar').fullCalendar({
            // 헤더의 지정
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month, basicWeek, basicDay'
            },

            //월일의 포맷
            columnFormat: {
                month: 'ddd',
                week: 'M/d(ddd)',
                day: 'M/d(ddd)'
            },
            //요일의 포맷
            dayNames: ['SUN','MON','TUE','WEN','THU','FRI','SAT'],
            dayNamesShort: ['SUN', 'MON', 'TUE','WEN','THU','FRI','SAT'],
            // tlrksdml 포맷
            timeFormat: {
                '': 'H:mm{ - H:mm}'
            },
            // 버튼의 표시명
            buttonText: {
                today: 'today',
                month: 'month',
                week: 'week',
                day: 'day'
            },
            // Event Sources 객체에서의 지정
            eventSources: [
                {
                    color:'darkred',
                    textColor:'white'
                }
            ],
            eventColor: 'blue',
            // Event 객체에서의 지정
            events: [
                {% for i in local_detail %}
                {
                    title: '{{ i.title }}',
                    start: new Date({{ FY }},{{ FM }}-1,{{ FD }},{{ SH }},{{ SM }}),
                    end: new Date({{ TY }},{{ TM }}-1, {{ TD }},{{ H }},{{ M }}),
                    allDay: true,
                    textColor: 'black',
                    color: 'rgb(149,205,232)',
                },
                {% endfor %}


                {% for m in b %}
                {
                    title: 'Not',
                    start: new Date({{ m }}),
                    allDay: true,
                    textColor: 'black',
                    color:'red',
                },
                {% endfor %}
            ],
            editable: false,
        });
    });


    </script>
    <style type='text/css'>
        body {
            font-size: 13px;
        }
        #calendar {
            width: 390px;
        }
        .fc-sat{
            color: black;
        }
        .fc-sun {
            color: black;
        }
        .fc-event-title {
            text-align: center;
            font-weight: bold;
            padding-right:4px;
            display:table;
            margin-left:auto;
            margin-right:auto;
        }
        .fc-event-time {
            font-weight: normal;
        }
        .fc-event-time,
        .fc-event-title {
            padding: 0px 2px;
        }
        .fc-day-number{
            color: rgb(49,86,137);
        }
        h2{
            font-size:15px;
        }
        .fc-button-content{
            padding: 0 3px;
        }
    </style>



    <!-- 이미지 슬라이드-->

    {% load static %}
    <style>
    	ul{
			list-style: none outside none;
		    padding-left: 0;
            margin: 0;
		}
		.content-slider li{
		    background-color: #ed3020;
		    text-align: center;
		    color: #FFF;
		    width:100%;
		}
		.content-slider h3 {
		    margin: 0;
		    padding: 70px 0;
		}
		li img{
		    height:407px;
		    width: 661.66px;
		}
		.lSPager.lSGallery{
		}
    </style>

    <!-- 구글 맵-->
    <style>
        .post-map {
            height:300px;
            width:600px;;
        }
    </style>
    <script>
    {% for post in local_detail %}
    $(function() {
       var lat = {{ post.lat }}
       var lng = {{ post.lng }}
       var myLatLng = {lat: lat, lng: lng};
       var container = $('.post-map')[0];
       var map = new google.maps.Map(container, {
          zoom: 15,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
    });
    {% endfor %}
    </script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJlyU9z-Iw3444-WAiDYPHNc-fKsj51Bc">
    </script>
    {{ form.media }}
</head>
<body>
{% for i in local_detail %}
<div class="container">
    <div class="well clearfix" style="margin:50px 0px;">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-9">
                    <h3>{{ i.title }}</h3>
                </div>
                <div class="col-md-3" style="float:right">

                    <h3>{% if i.Tourtype.img %}<img width="30px" height="30px" src="{{ i.Tourtype.img.url }}">{% endif %}{{ i.Tourtype }}</h3>
                </div>
            </div>
            <!-- 이미지 슬라이드 -->
            {% load imagekit %}
            <div class="row">
                <div class="col-md-12">
                    <div class="demo">
                        <div class="item">
                            <div class="clearfix" style="width:100%">
                                <ul id="image-gallery" class="gallery list-unstyled cS-hidden" style="width:35px; height:35px;">
                                    {% if i.img %}
                                    <li data-thumb="{{ i.img.url }}">
                                        <img src="{{ i.img.url }}"/>
                                    </li>
                                    {% else %}
                                    <li data-thumb="{% static 'img/logo1.jpeg' %}">
                                        <img src="{% static 'img/logo1.jpeg' %}">
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-md-12">
                    <!--<div style="border: 12px solid rgb(49,86,137); padding: 10px;">-->
                            <div style="border:2px solid rgb(49,86,137); margin-bottom:15px; padding:7px;">
                                1. Overview
                                <br>
                                {{ i.DetailContent }}
                            </div>
                            <div style="border:2px solid rgb(49,86,137); margin-bottom:15px; padding:7px;">
                                2. Language : {{ i.Language }}
                            </div>
                            <div style="border:2px solid rgb(49,86,137); margin-bottom:15px; padding:7px;">
                                3. Price : ₩{{ i.Price }}
                            </div>
                            <div style="border:2px solid rgb(49,86,137); margin-bottom:15px; padding:7px;">
                                4. Meeting time : {{ i.MeetingTime }}
                            </div>
                            <div style="border:2px solid rgb(49,86,137); margin-bottom:15px; padding:7px;">
                                5. Duration : {{ H1 }}hr {{ M1 }}min
                            </div>
                            <div style="border:2px solid rgb(49,86,137); margin-bottom:15px; padding:7px;">
                                6. The number of people : {{ i.Minimum }} - {{ i.Maximum }}
                            </div>
                            <div style="border:2px solid rgb(49,86,137); margin-bottom:15px; padding:7px;">
                                7. Includes : <br>
                                {{ i.Price_include }}
                            </div>
                            <div style="border:2px solid rgb(49,86,137); padding:7px;">
                                8. Meeting Point: {{ i.MeetingPoint}}
                            </div>
                            <div style="margin-bottom:15px; width:100%;" class="post-map"></div>
                            <div style="border:2px solid rgb(49,86,137); margin-bottom:15px; padding:7px;">
                                9. Direction : {{ i.Direction }}
                            </div>
                            <div style="border:2px solid rgb(49,86,137); margin-bottom:15px; padding:7px;">
                                10.Thing to Note : {{ i.GuestInfo }}
                            </div>
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="col-md-12" style="border: 2px solid rgb(49,86,137)">
                    <div style="width: 380px; border: 1px solid black; margin: 25px 0; padding:20px;">
                        {% for profile in profiles %}
                        <a class="bla-1" href="{{ profile.video }}">Profile Video</a>
                        <h3>
                        {% if profile.img %}
                            <img style="margin-right:20px; width:100px; height:100px;"src="{{ profile.img.url }}">
                        {% endif %}
                        {{ profile.name }}
                        </h3>
                        <br>
                        <p style="font-size: 20px;">Laguage : {{ profile.language }}</p><br>
                        <p style="font-size: 20px;">Major: {{ profile.major }}</p><br>
                        <p style="font-size: 20px; margin-bottom:15px;">Visited Country : {% for j in k %} <img style="height:17px;width:24px;" src="{{ j.image.url }}"> {% endfor %}</p><br>
                        <p style="font-size: 20px; margin-bottom:15px;">Next travel : {% for k in z %} <img style="width:24px; height:17px" src="{{ k.image.url|default:'Empty' }}"> {% endfor %}</p><br>
                        <p style="font-size: 20px; margin-bottom:15px;">Interest : {{ profile.interest }}</p><br>
                        {% endfor %}
                    </div>
                    <div style="margin-top:15px;">
                        <div style="background-color:white; margin:0 auto;" id="calendar"></div>
                    </div>
                <a style="margin:30px 100px;" href="{% url 'travel:booking' i.City i.pk %}" class="btn btn-primary"><h1>Book Now</h1></a>
            </div>
        </div>
    </div>
</div>

<script>
    // 이미지 슬라이드
    $(document).ready(function() {
		$("#content-slider").lightSlider({
            loop:true,
            auto:true,
            keyPress:true
        });
        $('#image-gallery').lightSlider({
            gallery:true,
            item:1,
            thumbItem:9,
            slideMargin: 0,
            speed:1000,
            auto:false,
            loop:false,
            onSliderLoad: function() {
            $('#image-gallery').removeClass('cS-hidden');
            }
        });
	});
</script>

</body>
{% endfor %}
{% endblock %}